<div class="container"> 
    <h1><%= @conference.name %> 
    
    <h1>Divisions in this Conference:</h1> 
    <% @conference.divisions.uniq.each do |division| %> 
        <p><%= link_to division.region, division_path(division) %>  
    <% end %> 

    <h2><%= button_to "Back", conferences_path, method: :get %></h2> 
</div>