<h1>Divisions</h1> 

<table style="margin-left:auto;margin-right:auto;"> 
    <thead> 
        <tr> 
            <th>Region</th> 
            <th></th> 
        </tr>
    </thead> 
    <tbody> 
        <% @divisions.each do |division| %> 
            <tr> 
                <td><%= division.region %> 
                <td><%= link_to 'View', division %> 
            </tr> 
        <% end %> 
    </tbody> 
</table> 